
#btnUp{

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9900;
  display: none;

}

#sideBar{

  position: fixed;
  left: 0;
  top : 100px;
  z-index: 99999;
  cursor: pointer;
}

#colorBox{

  background-color: #ccc;

cursor: pointer;
  
}
#loading
{
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top:  0 ;
  z-index: 9999999999;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
  }
}


.color-item{
  background-color: rgb(54, 120, 153);
  background-color: orange;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;

}

#sideBar i{

  background-color: #333;
  color: white;
  cursor: pointer;

}

.parallax-window {
  min-height: 400px;
  background: transparent;
}
body {
  color: #212529;
  font-family: "segoe ui light";
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
.linkActive {
  font-weight: 900 !important;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
}
a {
  font-size: 0.9rem;
}

.light-dots {
  background-image: url(../images/light_dot.jpg);
}
.dark-dots {
  background-image: url(../images/dark_dot.jpg);
}
.color-main {
  color: #ff206e !important;
}
.bg-main {
  background-color: #ff206e !important ;
}
.bg-black {
  background-color: black !important;
}
.title h2,
.title h3 {
  font-weight: 800;
  letter-spacing: 3px;
}
.title h2 {
  font-size: 5rem;
  color: #f1f1f1;
}
.title h3 {
  font-size: 2.5rem;
  color: #000;
}
.navbar-padding {
  padding-left: 60px;
  padding-right: 60px;
}
#main-nav {
  transition: background-color 2s, padding 2s;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}
a:hover {
  text-decoration: none;
}
.icon {
  height: 2.2rem;
  width: 2.2rem;
  margin: 5px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.icon a {
  color: #fff;
}
header {
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.about-image {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

#services .title h2 {
  color: #222;
}
#services .title h3 {
  color: #fff;
}
#services .icon {
  background-color: #000;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
#services h4 {
  position: relative;
}
#services h4::after {
  content: "";
  width: 15%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  position: absolute;
  background-color: #ff206e;
}
.service-item {
  margin: 40px 0px;
}
